<!DOCTYPE html>

<html>
    <head>
        <title>Build a Blog</title>
        <style type="text/css">
        .error {
            color: red;
        }
        h1 {
            text-align: center;
        }
             
        textarea {
            width: 400px; 
            height: 200px;
            
        }
        input[type=text]{
            width: 400px;
            
        }
        
        </style>
    </head>
 <body>
    <div>
        <a href="blog">Main Blog Page</a> |
        <a href= "newpost">Make a Blog Entry</a>
    </div>
        
    {% block content %}

    

    {% endblock %}

    </body>
</html>
