<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <style type="text/css">
        .error {
            color: red;
        }
        h1 {
            text-align: center;
        }
             
        textarea {
            width: 400px; 
            height: 200px;
            
        }
        input[type=text]{
            width: 400px;
            
        }
        
        </style>
    </head>

    <div>
        <a href="/blog.html">Main Blog Page</a> |
        <a href= "/newpost.html">Make a Blog Entry</a>
    </div>

    <body>

        {% block content %}
        {% endblock %}
    </body>
</html>
