{% extends "base.html" %}

{% block content %}

<h1>Login to Blog</h1>
<div>
    <p>If you don't have an account <a href="/signup">Sign up</a> for one</p>
    <span class="error">{{error}}</span>
</div>
<form action="/login" method="POST" >
    <table>
        <tbody>
            <tr>
                <td>
                    <label for='username'>Username</label>
                </td>
                <td>
                    <input name="username" type="text" value="{{username}}" /> 
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Password</label>
                </td>
                <td>
                    <input name="password" type="password" value="{{password}}" />
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Login" name="Login"/>
</form>

{% endblock %}