{% extends 'base.html' %}


{% block content %}

<h1>Make a Blog</h1>

<form method="POST" action='/newpost'>
    <label>
    <div>Title for your new blog:</div>
    <input type="text" name="name" />
    
     <p class="error">{{title_error}}</p>
    </label>
    
    <label>
        <div>Your new blog:</div>
        <textarea id="blog-box" name="body"></textarea> 
        <p class='error'>{{body_error}}<p>   
        </label>
        
    <div>   
    <input type="submit" name="Add Entry" />
    </div>
</form>


{% endblock %}