{% extends 'base.html' %}


{% block content %}

<h1>Make a Blog</h1>

<form method="POST">
    <label>
    <div>Title for your new blog:</div>
    <input type="text" name="title" />
    {% with messages = get_flashed_messages(category_filter=['title_error']) %}
    {% for message in messages %}
    
    <p class="title_error">{{message}}<p>
      {% endfor %}
      
    </label>
    {% endwith %}
    <label>
        <div>Your new blog:</div>
        <textarea id="blog-box" name="body"></textarea> 
        {% with message = get_flashed_messages(category_filter=['body_error']) %}
        {% for message in messages %}
        <p class='body_error'>{{message}}<p>
         {% endfor %}   
        </label>
        {% endwith %}
    <div>   
    <input type="submit" name="Add Entry" />
    </div>
</form>


{% endblock %}