{% extends 'base.html' %}

{% block content %}

<h1>Sign up here to Blog!</h1>

<form action="/signup" method="POST">
    <table>
        <tbody>
            <tr>
                <td>
                    <label for='user'>Username</label>
                </td>
                <td>
                    <input  type="text" name="username" value="{{username}}" placeholder="Username" />
                    <span class="error">{{username_error}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for='password'>Password</label>
                </td>
                <td>
                    <input type="password" name="password" value="{{password}}" placeholder="Password"/>
                    <span class="error">{{password_error}}</span>
                </td> 
            </tr>
            <tr>
                <td>
                    <label>Verify Password</label>
                </td>
                <td>
                    <input type="password" name="verify" value="{{verify}}" placeholder="Verify Password" />
                    <span class="error">{{verify_password_error}}</span>
                </td> 
                </tr>
                <tr>
                    <td>
                        <label for="email">Email:</label>
                    </td>
                    <td>
                        <input type="email" name="email" />
                        <span class="error">{{email_error}}</span>
                    </td>
                </tr>
        </tbody>
    </table>
    <input type="submit" value="Sign up" name="Sign up" />
</form>

{% endblock %}